{% extends "snh/snh_base.html" %}
{% block extrahead %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#user_table').dataTable(
            {
                "iDisplayLength": iDisplayLength, 
                "sPaginationType": sPaginationType,
                "sDom": sDom,
                "aaSorting": aaSorting,
                "bAutoWidth": bAutoWidth,
		        "bServerSide": bServerSide, 
		        "sAjaxSource": "{% url snh.views.get_fb_list 'web' harvester_id %}",
                "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                    $('td:eq(1)', nRow).html( '<a href="/fb_user_detail/'+{{harvester_id}}+'/fid/'+aData[1]+'">'+aData[1]+'</a>' );
                },
                "oTableTools": {
                  "aButtons": [ {
                    "sExtends": "download",
                    "sUrl": "{% url snh.views.get_fb_list 'csv' harvester_id %}",
                  } ]
                },
            });
        $('#posts_table').dataTable(
            {
                "iDisplayLength": iDisplayLength, 
                "sPaginationType": sPaginationType,
                "sDom": sDom,
                "aaSorting": aaSorting,
                "bAutoWidth": bAutoWidth,
                "bServerSide": bServerSide, 
                "sAjaxSource": "{% url snh.views.get_fb_harvester_post_list 'web' harvester_id %}",
                "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                    $('td:eq(1)', nRow).html( '<a href="/fb_post_detail/{{ harvester_id }}/'+aData[1]+'">'+_wordwrap(aData[1])+'</a>' );
                    ($('td:eq(2)', nRow).html() == "None") ? from = aData[15] : from = aData[2];
                    $('td:eq(2)', nRow).html(  '<a href="/fb_user_detail/{{ harvester_id }}/fid/'+aData[16]+'">'+_wordwrap(from)+'</a>' );
                    $('td:eq(3)', nRow).html( _wordwrap(aData[3]) );
                    $('td:eq(4)', nRow).html( _wordwrap(aData[4],120) );
                    ($('td:eq(6)', nRow).html() == "None") ? msg = aData[14] : msg = aData[6];
                    $('td:eq(6)', nRow).html( _wordwrap(msg) );
                    ($('td:eq(7)', nRow).html() == "None") ? link = "" : link = '<a href="'+aData[7]+'" target="_blank">'+ _wordwrap(aData[7]) +'</a>';
                    $('td:eq(7)', nRow).html( link );
                    ($('td:eq(12)', nRow).html() == "None") ? app = "" : app = aData[12]
                    $('td:eq(12)', nRow).html( app );
                },
                "aoColumnDefs": [ 
                    {
                        "bSearchable": false, "aTargets": [ 0, 13 ],
                    }
                ],
                "aoColumns": [ 
                    { "bVisible":    true },    //0 : u'created_time/updated_time',
                    { "bVisible":    true },    //1 : u'fid',
                    { "bVisible":    true },    //2 : u'ffrom__username',
                    { "bVisible":    true },    //3 : u'name',
                    { "bVisible":    true },    //4 : u'description',
                    { "bVisible":    false },    //5 : u'caption',
                    { "bVisible":    true },    //6 : u'message/story',
                    { "bVisible":    true },    //7 : u'link__original_url',
                    { "bVisible":    true },    //8 : u'ftype',
                    { "bVisible":    true },    //9 : u'likes_count',
                    { "bVisible":    true },    //10: u'shares_count',
                    { "bVisible":    true },    //11: u'comments_count',
                    { "bVisible":    false },    //12: u'application_raw',
                    { "bVisible":    false },    //13: u'updated_time',
                    { "bVisible":    false },    //14: u'story',
                    { "bVisible":    false },    //15: u'ffrom__name',
                    { "bVisible":    false },    //16: u'ffrom__fid',
                ],
                "oTableTools": {
                  "aButtons": [ {
                    "sExtends": "download",
                    "sUrl": "{% url snh.views.get_fb_harvester_post_list 'csv' harvester_id %}",
                  } ]
                },
            });
        $('#comments_table').dataTable({
            "iDisplayLength": iDisplayLength, 
            "sPaginationType": sPaginationType,
            "sDom": sDom,
            "aaSorting": aaSorting,
            "bAutoWidth": bAutoWidth,
            "bServerSide": bServerSide, 
            "sAjaxSource": "{% url snh.views.get_fb_harvester_comment_list 'web' harvester_id  %}",
            "aoColumnDefs": aoColumnDefs,
            "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                //from
                ($('td:eq(1)', nRow).html() == "None") ? from = aData[8] : from = aData[1];
                $('td:eq(1)', nRow).html(  '<a href="/fb_user_detail/{{ harvester_id }}/fid/'+aData[9]+'">'+from+'</a>' );
                //to (post_ffrom)
                $('td:eq(2)', nRow).html(  '<a href="/fb_user_detail/{{ harvester_id }}/fid/'+aData[10]+'">'+aData[2]+'</a>' );
                //post
                $('td:eq(3)', nRow).html(  '<a href="/fb_post_detail/{{ harvester_id }}/'+aData[3]+'">'+aData[3]+'</a>' );
            },
            "aoColumns": [ 
                { "bVisible":    true },    //0 : u'created_time/updated_time',
                { "bVisible":    true },    //1 : u'ffrom__username',
                { "bVisible":    true },    //2 : u'post__ffrom__name',
                { "bVisible":    true },    //3 : u'post__fid',
                { "bVisible":    true },    //4 : u'message',
                { "bVisible":    true },    //5 : u'likes',
                { "bVisible":    false },    //6 : u'user_likes',
                { "bVisible":    false },    //7 : u'ftype',
                { "bVisible":    false },    //8 : u'ffrom__name',
                { "bVisible":    false },    //9 : u'ffrom__fid',
                { "bVisible":    false },    //10: u'post__ffrom__fid',
            ],
            "oTableTools": {
              "aButtons": [ {
                "sExtends": "download",
                "sUrl": "{% url snh.views.get_fb_harvester_comment_list 'csv' harvester_id %}",
              } ]
            },
	    });
        $('#centerPopupOutter').click(function() {
           $('#centerPopupOutter').hide();
        });

        $('#centerPopupInner').click(function(event){
           event.stopPropagation();
        });
        $('#ToolTables_posts_table_0').unbind('click' )
        $('#ToolTables_posts_table_0').click(function(){
            document.getElementById('centerPopupInner').innerHTML = '\
            <br><center>Select the time-range:</center><br>\
            <div style="text-align:left"><table><tr>\
                <td>Start date:</td><td style="width:10px"></td>\
                <td><select name="startYear" form="requestForm">\
                    {% for year in years %}\
                    <option value="{{year}}">{{year}}</option>\
                    {% endfor %}\
                </select></td>\
                <td><select name="startMonth" form="requestForm">\
                    {% for month in months %}\
                    <option value="{{month}}">{{month}}</option>\
                    {% endfor %}\
                </select></td>\
                <td><select name="startDay" form="requestForm">\
                    {% for day in days %}\
                    <option value="{{day}}">{{day}}</option>\
                    {% endfor %}\
                </select></td>\
                </tr>\
                <tr>\
                <td>End date:</td><td></td>\
                <td><select name="stopYear" form="requestForm">\
                    {% for year in years %}\
                    <option value="{{year}}">{{year}}</option>\
                    {% endfor %}\
                </select></td>\
                <td><select name="stopMonth" form="requestForm">\
                    {% for month in months %}\
                    <option value="{{month}}">{{month}}</option>\
                    {% endfor %}\
                </select></td>\
                <td><select name="stopDay" form="requestForm">\
                    {% for day in days %}\
                    <option value="{{day}}">{{day}}</option>\
                    {% endfor %}\
                </select></td>\
                </tr>\
            </table></div>\
                <hr><br><center>Please select the fields to include:</center><br>\
                <form action="/dwld_fb_posts_csv" method="GET" id="requestForm">\
                    <table>\
                        <tr><td><input type="checkbox" id="checkAll"></td><td><b> Select/deselect all</b></td></tr>\
                        {% for fieldlist in status_fields %}\
                        <tr>\
                            {% for field in fieldlist %}\
                                {% if field == None %}\
                                <td></td><td></td>\
                                {% else %}\
                                    <td><input type="checkbox" name="fields" value={{ field }}></td><td> {{ field }}</td>\
                                {% endif %}\
                            {% endfor %}\
                        </tr>\
                        {% endfor %}\
                    </table>\
                    <input type="hidden" name="harvester_id" value="{{ harvester_id }}">\
                    <input type="submit" id="submitButton" value="submit">\
                </form>\
            ';
            $('#checkAll').click(function(event) {   
                var checkBox = this
                $(':checkbox').each(function() {
                    this.checked = checkBox.checked;                        
                });
            });
            $('#submitButton').click(function(){
                document.getElementById('centerPopupOutter').style.display = 'None';
            })
            document.getElementById('centerPopupOutter').style.display = 'inline-block';
        })
        $('#ToolTables_comments_table_0').unbind('click' )
        $('#ToolTables_comments_table_0').click(function(){
            document.getElementById('centerPopupInner').innerHTML = '\
            <br><center>Select the time-range:</center><br>\
            <div style="text-align:left"><table><tr>\
                <td>Start date:</td><td style="width:10px"></td>\
                <td><select name="startYear" form="requestForm">\
                    {% for year in years %}\
                    <option value="{{year}}">{{year}}</option>\
                    {% endfor %}\
                </select></td>\
                <td><select name="startMonth" form="requestForm">\
                    {% for month in months %}\
                    <option value="{{month}}">{{month}}</option>\
                    {% endfor %}\
                </select></td>\
                <td><select name="startDay" form="requestForm">\
                    {% for day in days %}\
                    <option value="{{day}}">{{day}}</option>\
                    {% endfor %}\
                </select></td>\
                </tr>\
                <tr>\
                <td>End date:</td><td></td>\
                <td><select name="stopYear" form="requestForm">\
                    {% for year in years %}\
                    <option value="{{year}}">{{year}}</option>\
                    {% endfor %}\
                </select></td>\
                <td><select name="stopMonth" form="requestForm">\
                    {% for month in months %}\
                    <option value="{{month}}">{{month}}</option>\
                    {% endfor %}\
                </select></td>\
                <td><select name="stopDay" form="requestForm">\
                    {% for day in days %}\
                    <option value="{{day}}">{{day}}</option>\
                    {% endfor %}\
                </select></td>\
                </tr>\
            </table></div>\
                <br><hr><br><center>Please select the fields to include:</center><br>\
                <form action="/dwld_fb_comments_csv" method="GET" id="requestForm">\
                    <table>\
                        <tr><td><input type="checkbox" id="checkAll"></td><td><b> Select/deselect all</b></td></tr>\
                        {% for fieldlist in comment_fields %}\
                        <tr>\
                            {% for field in fieldlist %}\
                                {% if field == None %}\
                                <td></td><td></td>\
                                {% else %}\
                                    <td><input type="checkbox" name="fields" value={{ field }}></td><td> {{ field }}</td>\
                                {% endif %}\
                            {% endfor %}\
                        </tr>\
                        {% endfor %}\
                    </table>\
                    <input type="hidden" name="harvester_id" value="{{ harvester_id }}">\
                    <input type="submit" id="submitButton" value="submit">\
                </form>\
            ';
            $('#checkAll').click(function(event) {   
                var checkBox = this
                $(':checkbox').each(function() {
                    this.checked = checkBox.checked;                        
                });
            });
            $('#submitButton').click(function(){
                document.getElementById('centerPopupOutter').style.display = 'None';
            })
            document.getElementById('centerPopupOutter').style.display = 'inline-block';
        })
    });
</script>
{% endblock %}
{% block submenu %}
<table class="tableheader">
    <tr>
        <td {% if harvester_id == "0" %}class="submenu-selection"{% endif %}><a href="/fb/0">All data</a></td>
        {% for h in all_harvesters %}
        <td  {% ifequal harvester_id h.pmk_id|slugify %}class="submenu-selection"{% endifequal %}><a href="/fb/{{ h.pmk_id }}">{{ h }}</a></td>
        {% endfor %}
    </tr>
</table>
{% endblock %}

{% block content %}
<h3>List of users</h3>
<table id="user_table" class="pretty" width="100%">
    <thead>
    <tr>
        <th>snh_id</th>
        <th>ID</th>
        <th>name</th>
        <th>username</th>
        <th>category</th>
        <th>likes</th>
        <th>about</th>
        <th>phone</th>
        <th>checkins</th>
        <th>talking_about_count</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<h3>List of all posts</h3>
<table id="posts_table" class="pretty" width="100%">
    <thead>
    <tr>
        <th>Created / Updated time</th>
        <th>Post ID</th>
        <th>To</th>
        <th>Name</th>
        <th>Description</th>
        <th>Caption</th>
        <th>Message / Story</th>
        <th>Link</th>
        <th>Type</th>
        <th>Likes count</th>
        <th>Shares count</th>
        <th>Comments count</th>
        <th>App</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<h3>List of all comments</h3>
<table id="comments_table" class="pretty">
    <thead>
        <tr>
            <th>Created time</th>
            <th>From</th>
            <th>To</th>
            <th>Post ID</th>
            <th>Message</th>
            <th>Likes</th>
            <th>User likes</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}
