{% extends "snh/snh_base.html" %}


{% block extrahead %}
<style>
    a.harvesterName {
        color:#333;
    }
    span.enabledHarvester, span.disabledHarvester {
        float: right;
        cursor: pointer;
    }
</style>
<script>
    $(document).ready(function() {
        $('.harvesterToggler').click(function(){
            this.form.submit()
        })

        //Open/Close the harvester blocks
        function openBlock(button){
            $(button.parentElement.parentElement.parentElement.nextElementSibling).css('display', 'table-row-group')
            button.innerHTML = '<strong>▲</strong>'
            $(button).click(function(){closeBlock(button)})
        }
        function closeBlock(button){
            $(button.parentElement.parentElement.parentElement.nextElementSibling).css('display', 'none')
            button.innerHTML = '<strong>▼</strong>'
            $(button).click(function(){openBlock(button)})
        }
        $('.disabledHarvester').click(function(){openBlock(this)})
        $('.enabledHarvester').click(function(){closeBlock(this)})
    })
</script>
{% endblock %}
{% block content %}
<h1>Harvesters stats</h1>

<table width="100%">
    <thead>
        {% if twitter_harvesters %}
        <th>Twitter {% if user.is_superuser %}(<a href="/event_logs/twitterlog">log-></a>) {% endif %}</th>
        {% endif %}
        {% if facebook_harvesters %}
        <th>Facebook {% if user.is_superuser %}(<a href="/event_logs/facebooklog">log-></a>){% endif %}</th>
        {% endif %}
        {% if dailymotion_harvesters %}
        <th>Dailymotion {% if user.is_superuser %}(<a href="/event_logs/dailymotionlog">log-></a>){% endif %}</th>
        {% endif %}
        {% if youtube_harvesters %}
        <th>Youtube {% if user.is_superuser %}(<a href="/event_logs/youtubelog">log-></a>){% endif %}</th>
        {% endif %}
    </thead>
    <tbody>
        {% if twitter_harvesters %}
        <td>
            {% for th in twitter_harvesters %}
            <table width="100%" class="pretty">
                <thead>
                    {% if th.is_active %}
                    <th colspan="2"><a class="harvesterName" href="tw/{{ th.pmk_id }}">{{ th.harvester_name }}</a> 
                        <span class='enabledHarvester'>
                            <strong>▲</strong>
                        </span>
                    </th>
                    {% else %}
                    <th colspan="2" style="background-color:#CCCCFF"><a class="harvesterName" href="tw/{{ th.pmk_id }}">{{ th.harvester_name }}</a>
                        <span class='disabledHarvester'>
                            <strong>▼</strong>
                        </span>
                    </th>
                    {% endif %}
                </thead>
                {% if th.is_active %}
                <tbody>
                {% else %}
                <tbody style='display:none'>
                {% endif %}
                    <tr>
                        <td>Is enabled</td>
                        <td>
                        {% if user.is_superuser %}
                            <form action='/toggle_harvester' method='POST'>
                                {% if th.is_active %}
                                <input class='harvesterToggler' type='checkbox' name='enabled' checked='True'></input>
                                {% else %}
                                <input class='harvesterToggler' type='checkbox' name='enabled'></input>
                                {% endif %}
                                <input type='hidden' name='type' value='twitterHarvester'>
                                <input type='hidden' name='id' value='{{ th.pmk_id }}'>
                            </form>
                        {% else %}
                            {{ th.is_active }}
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Harvest in progress</td>
                        {% if th.harvest_in_progress %}
                        <td style="background-color:#0099FF">{{ th.harvest_in_progress }}</td>
                        {% else %}
                        <td>{{ th.harvest_in_progress }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Current harvest start time</td>
                        <td>{{ th.current_harvest_start_time }}</td>
                    </tr>
                    <tr>
                        <td>Current harvested user</td>
                        <td>{{ th.current_harvested_user }}</td>
                    </tr>
                    <tr>
                        <td>Remaining hits (search)(timeline)(user)</td>
                        <td>({{ th.remaining_search_hits }})({{ th.remaining_user_timeline_hits }})({{ th.remaining_user_lookup_hits }})</td>
                    </tr>
                    <tr>
                        <td>15-minutes hits limits</td>
                        <td>{{ th.hourly_limit }}</td>
                    </tr>                    <tr>
                        <td>Token reset time</td>
                        <td>{{ th.reset_time }}</td>
                    </tr>
                    <tr>
                        <td>Last harvest start time</td>
                        <td>{{ th.last_harvest_start_time }}</td>
                    </tr>
                    <tr>
                        <td>Last harvest end time</td>
                        <td>{{ th.last_harvest_end_time }}</td>
                    </tr>
                    <tr>
                        <td>Last user was aborted</td>
                        <td>{{ th.last_user_harvest_was_aborted }}</td>
                    </tr>
                    <tr>
                        <td>Last harvested user</td>
                        <td>{{ th.last_harvested_user }}</td>
                    </tr>
                    <tr>
                        <td>Retry after abortion</td>
                        <td>{{ th.retry_user_after_abortion }}</td>
                    </tr>
                    <tr>
                        <td>Harvest window start</td>
                        <td>{{ th.harvest_window_from }}</td>
                    </tr>
                    <tr>
                        <td>Harvest window end</td>
                        <td>{{ th.harvest_window_to }}</td>
                    </tr>

                </tbody>
            </table>
            {% endfor %}
        </td>
        {% endif %}
        {% if facebook_harvesters %}
        <td>
            {% for th in facebook_harvesters %}
            <table width="100%" class="pretty">
                <thead>
                    {% if th.is_active %}
                    <th colspan="2"><a class="harvesterName" href="fb/{{ th.pmk_id }}">{{ th.harvester_name }}</a> 
                        <span class='enabledHarvester'>
                            <strong>▲</strong>
                        </span>
                    </th>
                    {% else %}
                    <th colspan="2" style="background-color:#CCCCFF"><a class="harvesterName" href="fb/{{ th.pmk_id }}">{{ th.harvester_name }}</a>
                        <span class='disabledHarvester'>
                            <strong>▼</strong>
                        </span>
                    </th>
                    {% endif %}
                </thead>
                {% if th.is_active %}
                <tbody>
                {% else %}
                <tbody style='display:none'>
                {% endif %}
                    <tr>
                        <td>Is enabled</td>
                        <td>
                        {% if user.is_superuser %}
                            <form action='/toggle_harvester' method='POST'>
                                {% if th.is_active %}
                                <input class='harvesterToggler' type='checkbox' name='enabled' checked='True'></input>
                                {% else %}
                                <input class='harvesterToggler' type='checkbox' name='enabled'></input>
                                {% endif %}
                                <input type='hidden' name='type' value='facebookHarvester'>
                                <input type='hidden' name='id' value='{{ th.pmk_id }}'>
                            </form>
                        {% else %}
                            {{ th.is_active }}
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Harvest in progress</td>
                        {% if th.harvest_in_progress %}
                        <td style="background-color:#0099FF">{{ th.harvest_in_progress }}</td>
                        {% else %}
                        <td>{{ th.harvest_in_progress }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Current harvest start time</td>
                        <td>{{ th.current_harvest_start_time }}</td>
                    </tr>
                    <tr>
                        <td>Update "Likes"</td>
                        <td>{{ th.update_likes }}</td>
                    </tr>
                    <!--
                    <tr>
                        <td>Current harvested user</td>
                        <td>{{ th.current_harvested_user }}</td>
                    </tr>
                    -->
                    <tr>
                        <td>Last harvest start time</td>
                        <td>{{ th.last_harvest_start_time }}</td>
                    </tr>
                    <tr>
                        <td>Last harvest end time</td>
                        <td>{{ th.last_harvest_end_time }}</td>
                    </tr>
                    <!--
                    <tr>
                        <td>Last user was aborted</td>
                        <td>{{ th.last_user_harvest_was_aborted }}</td>
                    </tr>
                    <tr>
                        <td>Last harvested user</td>
                        <td>{{ th.last_harvested_user }}</td>
                    </tr>
                    -->
                    <tr>
                        <td>Retry after abortion</td>
                        <td>{{ th.retry_user_after_abortion }}</td>
                    </tr>
                    <tr>
                        <td>Harvest window start</td>
                        <td>{{ th.harvest_window_from }}</td>
                    </tr>
                    <tr>
                        <td>Harvest window end</td>
                        <td>{{ th.harvest_window_to }}</td>
                    </tr>

                </tbody>
            </table>
            {% endfor %}
        </td>
        {% endif %}
        {% if dailymotion_harvesters %}
        <td>
            {% for th in dailymotion_harvesters %}
            <table width="100%" class="pretty">
                <thead>
                    {% if th.is_active %}
                    <th colspan="2"><a class="harvesterName" href="dm/{{ th.pmk_id }}">{{ th.harvester_name }}</a> 
                        <span class='enabledHarvester'>
                            <strong>▲</strong>
                        </span>
                    </th>
                    {% else %}
                    <th colspan="2" style="background-color:#CCCCFF"><a class="harvesterName" href="dm/{{ th.pmk_id }}">{{ th.harvester_name }}</a>
                        <span class='disabledHarvester'>
                            <strong>▼</strong>
                        </span>
                    </th>
                    {% endif %}
                </thead>
                {% if th.is_active %}
                <tbody>
                {% else %}
                <tbody style='display:none'>
                {% endif %}
                    <tr>
                        <td>Is enabled</td>
                        <td>
                        {% if user.is_superuser %}
                            <form action='/toggle_harvester' method='POST'>
                                {% if th.is_active %}
                                <input class='harvesterToggler' type='checkbox' name='enabled' checked='True'></input>
                                {% else %}
                                <input class='harvesterToggler' type='checkbox' name='enabled'></input>
                                {% endif %}
                                <input type='hidden' name='type' value='dailyMotionHarvester'>
                                <input type='hidden' name='id' value='{{ th.pmk_id }}'>
                            </form>
                        {% else %}
                            {{ th.is_active }}
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Harvest in progress</td>
                        {% if th.harvest_in_progress %}
                        <td style="background-color:#0099FF">{{ th.harvest_in_progress }}</td>
                        {% else %}
                        <td>{{ th.harvest_in_progress }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Current harvest start time</td>
                        <td>{{ th.current_harvest_start_time }}</td>
                    </tr>
                    <tr>
                        <td>Current harvested user</td>
                        <td>{{ th.current_harvested_user }}</td>
                    </tr>
                    <tr>
                        <td>Last harvest start time</td>
                        <td>{{ th.last_harvest_start_time }}</td>
                    </tr>
                    <tr>
                        <td>Last harvest end time</td>
                        <td>{{ th.last_harvest_end_time }}</td>
                    </tr>
                    <tr>
                        <td>Last user was aborted</td>
                        <td>{{ th.last_user_harvest_was_aborted }}</td>
                    </tr>
                    <tr>
                        <td>Last harvested user</td>
                        <td>{{ th.last_harvested_user }}</td>
                    </tr>
                    <tr>
                        <td>Retry after abortion</td>
                        <td>{{ th.retry_user_after_abortion }}</td>
                    </tr>
                    <tr>
                        <td>Harvest window start</td>
                        <td>{{ th.harvest_window_from }}</td>
                    </tr>
                    <tr>
                        <td>Harvest window end</td>
                        <td>{{ th.harvest_window_to }}</td>
                    </tr>

                </tbody>
            </table>
            {% endfor %}
        </td>
        {% endif %}
        {% if youtube_harvesters %}
        <td>
            {% for th in youtube_harvesters %}
            <table width="100%" class="pretty">
                <thead>
                    {% if th.is_active %}
                    <th colspan="2"><a class="harvesterName" href="yt/{{ th.pmk_id }}">{{ th.harvester_name }}</a> 
                        <span class='enabledHarvester'>
                            <strong>▲</strong>
                        </span>
                    </th>
                    {% else %}
                    <th colspan="2" style="background-color:#CCCCFF"><a class="harvesterName" href="yt/{{ th.pmk_id }}">{{ th.harvester_name }}</a>
                        <span class='disabledHarvester'>
                            <strong>▼</strong>
                        </span>
                    </th>
                    {% endif %}
                </thead>
                {% if th.is_active %}
                <tbody>
                {% else %}
                <tbody style='display:none'>
                {% endif %}
                    <tr>
                        <td>Is enabled</td>
                        <td>
                        {% if user.is_superuser %}
                            <form action='/toggle_harvester' method='POST'>
                                {% if th.is_active %}
                                <input class='harvesterToggler' type='checkbox' name='enabled' checked='True'></input>
                                {% else %}
                                <input class='harvesterToggler' type='checkbox' name='enabled'></input>
                                {% endif %}
                                <input type='hidden' name='type' value='youtubeHarvester'>
                                <input type='hidden' name='id' value='{{ th.pmk_id }}'>
                            </form>
                        {% else %}
                            {{ th.is_active }}
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Harvest in progress</td>
                        {% if th.harvest_in_progress %}
                        <td style="background-color:#0099FF">{{ th.harvest_in_progress }}</td>
                        {% else %}
                        <td>{{ th.harvest_in_progress }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Current harvest start time</td>
                        <td>{{ th.current_harvest_start_time }}</td>
                    </tr>
                    <tr>
                        <td>Current harvested user</td>
                        <td>{{ th.current_harvested_user }}</td>
                    </tr>
                    <tr>
                        <td>Last harvest start time</td>
                        <td>{{ th.last_harvest_start_time }}</td>
                    </tr>
                    <tr>
                        <td>Last harvest end time</td>
                        <td>{{ th.last_harvest_end_time }}</td>
                    </tr>
                    <tr>
                        <td>Last user was aborted</td>
                        <td>{{ th.last_user_harvest_was_aborted }}</td>
                    </tr>
                    <tr>
                        <td>Last harvested user</td>
                        <td>{{ th.last_harvested_user }}</td>
                    </tr>
                    <tr>
                        <td>Retry after abortion</td>
                        <td>{{ th.retry_user_after_abortion }}</td>
                    </tr>
                    <tr>
                        <td>Harvest window start</td>
                        <td>{{ th.harvest_window_from }}</td>
                    </tr>
                    <tr>
                        <td>Harvest window end</td>
                        <td>{{ th.harvest_window_to }}</td>
                    </tr>

                </tbody>
            </table>
            {% endfor %}
        </td>
        {% endif %}
    </tbody>
</table>

{% endblock %}
