{% extends "snh/snh_base.html" %}
{% block content %}

{% load facebook %}
{% facebook_init %}
{% endfacebook %}
<!DOCTYPE html>
<html>
    <head>
    <title>Facebook test</title>
    <link href="">
    <meta charset="UTF-8">
    </head>
    <body>
        <script>
          function statusChangeCallback(response) {
            if (response.status === 'connected') {
              OnLogin();
            } else if (response.status === 'not_authorized') {
              document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
            } else {
              document.getElementById('status').innerHTML = 'Please log ' +
                'into Facebook.';
            }
          }

          function checkLoginState() {
            FB.getLoginStatus(function(response) {
              statusChangeCallback(response);
            });
          }

          window.fbAsyncInit = function() {
            FB.init({
              appId      : '{{ appId }}',
              cookie     : true,
              xfbml      : true,  // parse social plugins on this page
              version    : 'v2.3'
            });
            FB.getLoginStatus(function(response) {
              statusChangeCallback(response);
            });
          };
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

        function OnLogin() {
          document.getElementById('status').innerHTML = "Logged into Facebook as:";
          document.getElementById('loginButton').style.display = 'None';
          FB.api("me", function(response){
            document.getElementById('me').innerHTML = '<b>'+response.first_name+' '+response.last_name+'</b>';
          });
          document.getElementById('logoutButton').style.display = 'inline';
        }

        function renewAccessToken(){
          try{
            accessToken = FB.getAuthResponse()['accessToken']
            document.getElementById('token').value = accessToken;
            $.post("/fb_update_client_token", {token: accessToken})
          } catch(TypeError) {
            document.getElementById('token').value = 'Log in to Facebook first!';
          }
        }

        function logOut(){
          FB.logout(function(response){
            location.reload(); 
          });
        }
        </script>
        <br><br>
        <center>
            <fb:login-button 
            id="loginButton"
            scope=
            "public_profile,
            email,
            user_friends"
            onlogin="checkLoginState();">
            	<div id="loginButtonInner">Log in</div>
            </fb:login-button>
            <div id="status">
            </div>
            <div id="me">
            </div>
            <br>
            Current OAuth Token: <a href='#' onclick='renewAccessToken()'>Renew token</a><br>
            <textarea id='token' style="height:100px;width:300px;">{{ currentToken }}</textarea>
            <br>
            <a href='#' onclick='logOut()' id='logoutButton' style='display: none;'>
              <div id="logoutButtonInner">Log out</div>
            </fb:logout-button>

        </center>
    </body>
</html>

{% endblock %}
