{% extends "snh/snh_base.html" %}
{% block extrahead %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		var oTable2 = $('#search_table').dataTable({
            "iDisplayLength": iDisplayLength, 
            "sPaginationType": sPaginationType,
            "sDom": sDom,
            "aaSorting": aaSorting,
            "bAutoWidth": bAutoWidth,
	        "bServerSide": bServerSide, 
	        "sAjaxSource": "{% url snh.views.get_tw_searchdetail_list 'web' search.pmk_id  %}",
            "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                $('td:eq(1)', nRow).html( '<a href="/tw_status_detail/{{ harvester_id }}/'+aData[1]+'">'+aData[1]+'</a>' );
                $('td:eq(2)', nRow).html( '<a href="/tw_user_detail/{{ harvester_id }}/'+aData[2]+'">'+aData[2]+'</a>' );
            },
            "aoColumnDefs": [ 
                { 
                    "bSearchable": false, "aTargets": [ 0 ] 
                }
            ],
            "oTableTools": {
              "aButtons": [ {
                "sExtends": "download",
                "sUrl": "{% url snh.views.get_tw_searchdetail_list 'csv' search.pmk_id  %}",
              } ]
            },
        });
        $('#centerPopupOutter').click(function() {
           $('#centerPopupOutter').hide();
        });

        $('#centerPopupInner').click(function(event){
           event.stopPropagation();
        });
        $('#ToolTables_search_table_0').unbind('click' )
        $('#ToolTables_search_table_0').click(function(){
            document.getElementById('centerPopupInner').innerHTML = '\
            <br><center>Select the time-range:</center><br>\
            <div style="text-align:left"><table><tr>\
                <td>Start date:</td><td style="width:10px"></td>\
                <td><select name="startYear" form="requestForm">\
                    {% for year in years %}\
                    <option value="{{year}}">{{year}}</option>\
                    {% endfor %}\
                </select></td>\
                <td><select name="startMonth" form="requestForm">\
                    {% for month in months %}\
                    <option value="{{month}}">{{month}}</option>\
                    {% endfor %}\
                </select></td>\
                <td><select name="startDay" form="requestForm">\
                    {% for day in days %}\
                    <option value="{{day}}">{{day}}</option>\
                    {% endfor %}\
                </select></td>\
                </tr>\
                <tr>\
                <td>End date:</td><td></td>\
                <td><select name="stopYear" form="requestForm">\
                    {% for year in years %}\
                    <option value="{{year}}">{{year}}</option>\
                    {% endfor %}\
                </select></td>\
                <td><select name="stopMonth" form="requestForm">\
                    {% for month in months %}\
                    <option value="{{month}}">{{month}}</option>\
                    {% endfor %}\
                </select></td>\
                <td><select name="stopDay" form="requestForm">\
                    {% for day in days %}\
                    <option value="{{day}}">{{day}}</option>\
                    {% endfor %}\
                </select></td>\
                </tr>\
            </table></div>\
            <br>\
                <hr>\
                <br><center>Select the fields to include:</center><br>\
                <form action="/dwld_tw_status_csv" method="GET" id="requestForm">\
                    <table>\
                        <tr><td><input type="checkbox" id="checkAll"></td><td><b> Select/deselect all</b></td></tr>\
                        {% for fieldlist in status_fields %}\
                        <tr>\
                            {% for field in fieldlist %}\
                            <td><input type="checkbox" name="fields" value={{ field }}></td><td> {{ field }}</td>\
                            {% endfor %}\
                        </tr>\
                        {% endfor %}\
                    </table>\
                    <hr>\
                    <input type="hidden" name="search_id" value="{{ search.pk }}">\
                    <input type="submit" id="submitButton" value="submit">\
                </form>\
            ';
            $('#checkAll').click(function(event) {   
                var checkBox = this
                $(':checkbox').each(function() {
                    this.checked = checkBox.checked;                        
                });
            });
            $('#submitButton').click(function(){
                document.getElementById('centerPopupOutter').style.display = 'None';
            })
            document.getElementById('centerPopupOutter').style.display = 'inline-block';
        })
        buildChart("{% url snh.views.get_search_status_chart harvester_id search.term %}", 'status_chart')
	});


</script>
{% endblock %}
{% block submenu %}
<table class="tableheader">
    <tr>
        <td {% if harvester_id == "0" %}class="submenu-selection"{% endif %}><a href="/tw/0">All data</a></td>
        {% for h in all_harvesters %}
        <td  {% ifequal harvester_id h.pmk_id|slugify %}class="submenu-selection"{% endifequal %}><a href="/tw/{{ h.pmk_id }}">{{ h }}</a></td>
        {% endfor %}
    </tr>
</table>
{% endblock %}

{% block content %}

<h3>Search results for {{ search.term }} </h3> 
<div  id='status_chart' style='margin:0 auto; width: 100%; height: 240px;'></div>
<span>Download raw JSON data <a id='jsonButton' href='/get_tw_status_json?search_id={{ search.pmk_id }}'>here</a></span>
<table id="search_table" class="pretty">
    <thead>
        <tr>
            <th>Created at</th>
            <th>ID</th>
            <th>From</th>
            <th>text</th>
            <th>source</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type='text/javascript'>google.load('visualization', '1', {packages: ['annotatedtimeline']});</script>
<script type="text/javascript">
    function buildChart($url_to_get, $dest_tag){
        var jsonData = $.ajax({
            url: $url_to_get,
            dataType:"json",
            async: true,
            success: function(html){
                    // Succesful, load visualization API and send data      
                    var data = new google.visualization.DataTable(html);
                    var annotatedtimeline = new google.visualization.AnnotatedTimeLine(document.getElementById($dest_tag));
                    annotatedtimeline.draw(data, {'displayAnnotations': false});
                }
              });
    }

</script>

{% endblock %}
